<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>DVDStore : Votre boutique de DVD en ligne</h1>
    <table border="2">
        <caption>
            Liste des Films de ma collection DVDStore
        </caption>
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Genre</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie: ${movies}">
            <td th:text="${movie.id}">Id</td>
            <td>
                <a th:href="@{/movie/{id}(id=${movie.id})}" th:text="${movie.titre}"/>
            </td>
            <td th:text="${movie.genre}">genre</td>
            <td th:text="${movie.description}">description</td>
        </tr>
        </tbody>
    </table>
</body>
</html>